
@import url(https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.3/leaflet.min.css);
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Source+Sans+Pro:ital,wght@0,400;1,300&display=swap');
* {
  margin: 0;
  padding: 0;

}


#content {
  height: 100vh;
}


#map, #loading-screen {
  width: 100%;
  height: 80%;
}

#map {
  z-index: 0;
}

#page-header {
  
  width: 100%;
  height: 20%;
  position: relative;
  z-index: 1;
  
  background-color: #E8F6EF;
  
  text-align: center;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#header-title {
  height: 50%;
  margin-left: 3rem;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  
  color: #4C4C6D;
    
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

#option-bar {
  /* background-color: #4d432c; */

  height: 50%;

  display: flex;
  align-items: center;
  /* justify-content: center; */

  font-family: 'Source Sans Pro', sans-serif;
}

#option-bar select {
  background-color: #FFE194;
  color: #000;
  height: 50%;
  width: 20rem;
  margin-left: 7rem;

  text-align: center;
}

#loading-screen {
  position: absolute;
  z-index: 1;
  background-color: rgba(220, 220, 220, 0.65);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;

  transition: height 1s ease-in-out;
}

#loading-screen img {
  width: 8rem;
  margin-bottom: 3rem;
  /* aspect-ratio: 1; */
}

.shrink {
  overflow: hidden;
  height: 0 !important;
}